<p id="notice"><%= notice %></p>
<table style="color:blue; font-size=30px">

  <tr>
  <tr><td>MOvie name: <%= @movie.movie_name %></td></tr>
<tr><td>Language: <%= @movie.language %></td></tr>
<tr><td>Genre: <%= @movie.genre %></td></tr>
<tr><td>Release On: <%= @movie.release_date %></td></tr>
<tr><td>User Ratings: <%= @movie.rating %></td></tr>
</tr>
</table>
